<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- TITULO  -->
    <title>CONTACTENOS</title>

    <!-- LOGO EN EL TITULO  -->
    <link rel="icon" href="img/logo/logo.png">
    
    <!-- HOJAS DE ESTILO -->
    <link rel="stylesheet" href="css/core-style.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <!-- ##### HEADER ENCABEZADO ##### -->
    <header class="header_area">
        <div class="classy-nav-container breakpoint-off d-flex align-items-center justify-content-between">
            <!-- CLASE MENU DEL ENCABEZADO -->
            <nav class="classy-navbar" id="essenceNav">
                <!-- LOGO -->
                <a class="nav-brand" href="index.html"><img style="height: 80px; width: 100px;" src="img/logo/logo.png"></a>
                <div class="classy-navbar-toggler">
                    <span class="navbarToggler"><span></span><span></span><span></span></span>
                </div>
                <!-- MENU -->
                <div class="classy-menu">                    
                    <div class="classycloseIcon">
                        <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                    </div>
                    <!-- NAV CATALOGO -->
                    <div class="classynav">
                        <ul>
                        	<li><a href="index.html">Principal</a></li>
                            <li><a href="#">Catalogo</a>
                                <div class="megamenu">
                                    <ul class="single-mega cn-col-4">
                                        <li class="title">CATEGORIA</li>
                                        <li><a href="aseo.html">Aseo</a></li>
                                        <li><a href="alacena.html">Alacena</a></li>
                                        <li><a href="carnicos.html">Carnicos</a></li>
                                        <li><a href="dulceria.html">Dulceria</a></li>
                                        <li><a href="frutas_verduras.html">Frutas y verduras</a></li>
                                        <li><a href="lacteos_derivados.html">Lacteos y derivados</a></li>
                                        <li><a href="licores.html">Licores</a></li>
                                        <li><a href="pasabocas.html">Pasabocas</a></li>
                                    </ul>                                   
                                </div>
                            </li>         
                            
                            <li><a href="contactenos.html">Contactenos</a></li>

                        </ul>
                    </div>
                    <!-- NAV FIN -->
                </div>
            </nav>

            <!-- ENCABEZADO CARRITO Y LOGIN -->
            <div class="header-meta d-flex clearfix justify-content-end">
                <div class="user-login-info">
                  <a href=""> Resgistrarse </a>
                </div> 
                <!-- LOGIN -->
                <div class="user-login-info">
                  <a href=""> Login</a>  
                </div >
                <!-- CARRITO -->
                <div class="user-login-info">
                    <a href="#" id="essenceCartBtn"><img style="height: 30px; width: 80px;" src="img/fondo/carrito.png" alt=""> <span>5</span></a>
                </div>
            </div>

        </div>
    </header>
    <!-- ##### FIN DE DEL AREA DEL HEADER ##### -->

    <!-- ##### LOGICA DEL CARRITO ##### -->
    <div class="cart-bg-overlay"></div>

    <div class="right-side-cart-area">

        <!-- LOGO DEL CARRITO -->
        <div class="cart-button">
            <a href="#" id="essenceCartBtn"><img style="height: 30px; width: 70px;" src="img/fondo/carrito.png" alt=""> <span>5</span></a>
        </div>

        <div class="cart-content d-flex">

            <!-- LISTADO DE LOS PRODUCTOS -->
            <div class="cart-list">
                <!-- INFORMACION DEL PRODUCTO -->
                <div class="single-cart-item">
                    <a href="#" class="product-image">
                        <img style="height: 250px;" src="img/productos/1.webp" class="cart-thumb" alt="">
                        <!-- DESCRIPCION -->
                        <div class="cart-item-desc">
                          <span class="product-remove"><i class="fa fa-close" aria-hidden="false"></i></span>
                            <span class="badge">Mango</span>
                            <h6>Button Through Strap Mini Dress</h6>
                            <p class="size">Size: S</p>
                            <p class="color">Color: Red</p>
                            <p class="price">$45.00</p>
                        </div>
                    </a>
                </div>

                <!-- INFORMACION DEL PRODUCTO -->
                <div class="single-cart-item">
                    <a href="#" class="product-image">
                        <img style="height: 250px;" src="img/productos/2.webp" class="cart-thumb" alt="">
                        <!-- DESCRIPCION -->
                        <div class="cart-item-desc">
                          <span class="product-remove"><i class="fa fa-close" aria-hidden="true"></i></span>
                            <span class="badge">Mango</span>
                            <h6>Button Through Strap Mini Dress</h6>
                            <p class="size">Size: S</p>
                            <p class="color">Color: Red</p>
                            <p class="price">$45.00</p>
                        </div>
                    </a>
                </div>

                <!-- INFORMACION DEL PRODUCTO -->
                <div class="single-cart-item">
                    <a href="#" class="product-image">
                        <img style="height: 250px;" src="img/productos/3.webp" class="cart-thumb" alt="">
                        <!-- DESCRIPCION -->
                        <div class="cart-item-desc">
                          <span class="product-remove"><i class="fa fa-close" aria-hidden="true"></i></span>
                            <span class="badge">Mango</span>
                            <h6>Button Through Strap Mini Dress</h6>
                            <p class="size">Size: S</p>
                            <p class="color">Color: Red</p>
                            <p class="price">$45.00</p>
                        </div>
                    </a>
                </div>
                
                <!-- INFORMACION DEL PRODUCTO -->
                <div class="single-cart-item">
                    <a href="#" class="product-image">
                        <img style="height: 250px;" src="img/productos/4.jpg" class="cart-thumb" alt="">
                        <!-- DESCRIPCION -->
                        <div class="cart-item-desc">
                          <span class="product-remove"><i class="fa fa-close" aria-hidden="true"></i></span>
                            <span class="badge">Mango</span>
                            <h6>Button Through Strap Mini Dress</h6>
                            <p class="size">Size: S</p>
                            <p class="color">Color: Red</p>
                            <p class="price">$45.00</p>
                        </div>
                    </a>
                </div>
                
                <!-- INFORMACION DEL PRODUCTO -->  
                <div class="single-cart-item">
                    <a href="#" class="product-image">
                        <img style="height: 250px;" src="img/productos/5.jpg" class="cart-thumb" alt="">
                        <!-- DESCRIPCION -->
                        <div class="cart-item-desc">
                          <span class="product-remove"><i class="fa fa-close" aria-hidden="true"></i></span>
                            <span class="badge">Mango</span>
                            <h6>Button Through Strap Mini Dress</h6>
                            <p class="size">Size: S</p>
                            <p class="color">Color: Red</p>
                            <p class="price">$45.00</p>
                        </div>
                    </a>
                </div>
            </div>

            <!-- DATOS DEL PRODUCTO -->
            <div class="cart-amount-summary">

                <h2>RESUMEN</h2>
                <ul class="summary-table">
                    <li><span>SUBTOTAL:</span> <span>$274.00</span></li>
                    <li><span>ENTREGA:</span> <span>GRATIS</span></li>
                    <li><span>DESCUENTO:</span> <span>-15%</span></li>
                    <li><span>TOTAL:</span> <span>$232.00</span></li>
                </ul>
                <div class="checkout-btn mt-100">
                    <a href="hacer_pedido.html" class="btn essence-btn">HACER PEDIDO</a>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### FIN LOGICA CARRITO ##### -->


    <div class="contact-area d-flex align-items-center">

        <div class="google-map">
            <div id="googleMap"></div>
        </div>

        <div class="contact-info">
            <h2>AUTOSERVICIO LA 22</h2>
            <p>Empresa comercializadora de procductos al mayor, el cual brinda servicio de domicilios por la tecnologia </p>

            <div class="contact-address mt-50">
                <p><span>Gerente:</span> Jose Luis Gonzales</p>
                <p><span>Telefono:</span> +12 34 567 890</p>
                <p><span>Correo Electronico:</span> Autoservicio22@gmail.com</p>
            </div>
        </div>

    </div>

    <!-- PIE DE PAGINA -->
    <footer class="footer_area clearfix" style="background-color: #6B111A;">
        <div class="container" >
            <div class="row">
                <!-- UBICACION DE LA INFORMACION -->
                <div class="col-12 col-md-6">
                    <div class="single_widget_area d-flex mb-30">
                        <!-- LOGO -->
                        <div class="footer-logo mr-50">
                            <a class="nav-brand" href="index.html" ><h2 style=" color: #ffffff;">MARKETIME</h2></a>
                        </div>
                        <!-- ENLACE CON LOGICA DEL MENU -->
                        <div class="footer_menu">
                            <ul>
                                <li><a href="aseo.html">Catalogo</a></li>                              
                                <li><a href="contact.html">Contactenos</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- INFORMACION DE PILITICAS DE LA ORGANIZACION -->
                <div class="col-12 col-md-6">
                    <div class="single_widget_area mb-30">
                        <ul class="footer_widget_menu">
                            <li><a href="#">Estado del pedido</a></li>
                            <li><a href="#">Envio y entrega</a></li>
                            <li><a href="#">Politica de privacidad</a></li>
                            <li><a href="#">Opciones de pago</a></li>
                            <li><a href="#">Guias</a></li>
                            <li><a href="#">Terminos de uso</a></li>
                        </ul>
                    </div>
                </div>
            </div>

          
                <!-- ENLACE CON REDES SOCILES -->
                <div class="col-12 col-md-6">
                    <div class="single_widget_area">
                        <div class="footer_social_area">
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Pinterest"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="top" title="Youtube"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>

    </footer>
    <!-- ##### FIN DEL PIE DE PAGINA ##### -->

    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="js/plugins.js"></script>
    <!-- Classy Nav js -->
    <script src="js/classy-nav.min.js"></script>
    <!-- Active js -->
    <script src="js/active.js"></script>
    <!-- Google Maps -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAwuyLRa1uKNtbgx6xAJVmWy-zADgegA2s"></script>
    <script src="js/map-active.js"></script>

</body>

</html>